.player-slot-open .border {
    color: rgba(255, 255, 255, 0.2);
    border-style: dashed !important;
} 

.player-slot a:hover div,
.player-slot a:hover .badge {
    --bs-bg-opacity: 1 !important;
}

.btn-purple {
    background-color: #6f42c1;
}

.btn-purple-subtle,
.btn-purple:hover {
    background-color: rgb(89, 53, 154);
}

#LiveUpdateButton {
    margin-top: 6px;
}

.vsr-cursor-pointer {
    cursor: pointer;
}

.border-dotted {
    border-style: dotted !important;
}

.btn-dead {
    pointer-events: none;
}

.border-hidden-border {
    border-color: rgba(255, 255, 255, 0) !important;
}

.btn-glow {
  box-shadow:
    0 0 10px #fff,            /* outer white */
    -5px 0 10px #f0f,        /* outer left magenta */
    5px 0 10px #0ff;         /* outer right cyan */
}

/* MAP BROWSER CSS */
.map-item:hover {
    cursor: pointer;
}

.map-item:hover > .map-item-title {
    color: white;
    background-color: rgb(13, 110, 253) !important;
}
.map-item:hover .map-image {
    cursor: pointer;
    filter:brightness(1.5) !important;
}

#MapList, #MapViewer {
    height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#MapList::-webkit-scrollbar,
#MapViewer::-webkit-scrollbar {
    width: 12px;
}

#MapViewer::-webkit-scrollbar-track,
#MapList::-webkit-scrollbar-track {
    background: rgba(173, 181, 189, 0.08);
    border-radius: 8px;
}

#MapViewer::-webkit-scrollbar-thumb,
#MapList::-webkit-scrollbar-thumb {
    background: rgba(13, 110, 253, 0.8);
    border-radius: 8px;
}

#MapViewer::-webkit-scrollbar-thumb:hover,
#MapList::-webkit-scrollbar-thumb:hover {
    background: rgba(13, 110, 253, 1.0);
}