.player-slot {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.15);
}

.player-slot:nth-child(odd) {
    border-right: 1px dotted rgba(255, 255, 255, 0.15);
}

.player-slot:nth-child(9),
.player-slot:nth-child(10) {
    border-bottom: none;
}

.player-slot-open .border {
    color: rgba(255, 255, 255, 0.2);
    border-style: dashed !important;
}

.player-slot a:hover div {
    --bs-bg-opacity: 1 !important;
}

.bg-purple {
    background-color: #6f42c1;
}
#LiveUpdateButton {
    margin-top: 6px;
}

.vsr-cursor-pointer {
    cursor: pointer;
}

.border-dotted {
    border-style: dotted !important;
}